.cropper-wrapper {
    flex: 1 0 500px;

    display: flex;
    justify-content: center;

    gap: 8px;
}

.canvas canvas {
    border: 1px solid #D3D3D3;
    cursor: crosshair;
}
        
.canvas .upload-button {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #D3D3D3;
}

.canvas .upload-button i {
    font-size: 64px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selected {
    color: #ED3996;
}

button:disabled {
    opacity: 0.5;
}

.hide {
    display: none !important;
}

.icon-button {
    background: transparent;
    border: none;
}

.icon-button:hover {
    color: #D51477;
}
    
.icon-button:disabled {
    color: #404040;
}

.icon-button > i {
    font-size: 32px;
}

.cropped-img-div {
    border: solid 2px #FAC7E1;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}